#googlo {background-image:url(./poweredbyGoogle.png);width:46px;height: 24px;float: right; margin-top: 0;}
.centering {
	width: 73px;
	text-align: center;
	font-size: 100%;
	padding-top: 10px;
}

.lefting {
	margin-left: 5px;
}
img{border:0;}
body,form,h1,h2,h3,h4,h5,h6,ul,li{margin:0;padding:0;}
table,th,tr,td{font-size:1em;}
a{text-decoration:none;}
a:link,a:visited{color:#039;}
a:hover{color:#C00;text-decoration:underline;}
:focus{outline:0;}
blockquote,q{quotes:"" "";}
h1{font-size:200%;}
h2{font-size:175%;}
h3{font-size:150%;}
h4{font-size:125%;}
h5{font-size:100%;}
h6{font-size:80%;}
.clear{clear:both;}
body{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;line-height:1.2em;text-align:center;}
div#header{width:auto;}
#header a{font-weight:normal;}
#header ul,#header li{list-style:none outside;margin:0;padding:0;}
#headerWrap{text-align:center;}
#header{text-align:left;margin:0 auto;padding:0;height:auto;}
div#leaderboard{text-align:center;padding-top:10px;}
div#googlebar{border:0;padding:0 14px;}
#searchContainer_Header{margin:10px 0;}
div#searchContainer_Header div[id="googleLogo_Header"]{background-image:url(./poweredbyGoogle.png);}
* html .loc a small{font-size:12px;}
#header div#topnav{line-height:normal;}
#topnav ul{border-right:1px solid #1B4591;}
#headerWrap #topnav ul,#headerWrap #topnav ul li{border:none;}
#topnav ul#leftNav{float:left;width: 590px;}
#topnav ul#rightNav{float:right;width: 210px;}
#topnav ul li{float:left;border-left:1px solid #1B4591;position:relative;z-index:10003;}
#topnav ul li a{padding:0 10px;line-height:27px;display:block;}
#topnav ul li a small{font-size:8px;}
#topnav ul a:hover{color:#EEE;}
#topnav ul li.dropDown:hover a,#topnav ul li.hover a,#topnav ul li.hover a:hover{color:#039;}
#topnav ul li a:hover small,#topnav ul li a.hover small{color:#039;}
#topnav ul li.dropDown{z-index:1000001;}
#topnav>iframe{width:400px;height:400px;}
#topnav li.dropDown:hover iframe,#topnav li.hover iframe{left:0;top:27px;}
#topnav li.dropDown:hover iframe:hover{left:-10000em;}
#topnav ul li a.open .mailCountNav{color:#039;}
#topnav ul li a.open .mailCountNav:hover{color:#036;}
#topnav ul li a:link, #topnav ul li a:visited, #topnav ul li a:hover {
	font-weight: bold !important;
}
div#searchContainer_Header *{text-transform:none!important;color:#666!important;text-decoration:none!important;}
div#searchContainer_Header{padding-right:0;margin-top:15px;display:inline;padding-left:0;float:right;padding-bottom:4px;width:470px;padding-top:4px;}
div#searchContainer_Header UL{list-style:none none outside;position:absolute;right:0;z-index:1007;}
div#searchContainer_Header #searchTypeValue_Header{text-decoration:none!important;}
div#googleLogo_Header{border-right:0;border-top:0;display:inline;background:no-repeat 0 50%;float:left;border-left:0;width:46px!important;text-indent:-10000em!important;border-bottom:0;height:24px;}
div#header *{font-size:11px;}
div#googleLogo_Footer{border-right:0;border-top:0;display:inline;background:no-repeat 0 50%;float:left;border-left:0;width:60px!important;text-indent:-10000em!important;border-bottom:0;height:30px;}
div.srchfieldLayer{padding-right:0;display:inline;padding-left:5px;background:url(./searchBg.gif) no-repeat 0 0;float:left;padding-bottom:0;padding-top:0;z-index:1000000;vertical-align:baseline;position:relative!important;width:384px;}
div.srchfieldLayer div{padding-right:5px;padding-left:0;background:url(./searchBg.gif) no-repeat right -24px;padding-bottom:0;padding-top:0;position:relative!important;z-index:1000000;}
div.srchfieldLayer div div{padding-right:0;padding-left:0;background:url(./searchBg.gif) repeat-x 0 -48px;padding-bottom:3px;padding-top:4px;height:24px!important;position:relative!important;z-index:1000000;}
div#srchMenuContainer{padding-right:0;display:inline;padding-left:0!important;right:5px;background:url(./searchBg.gif) repeat-x 0 -48px;padding-bottom:0;margin:0;color:#666;padding-top:5px!important;position:absolute!important;top:0;height:19px!important;text-align:right;text-decoration:none!important;}
div#srchMenuContainer *{color:#666!important;}
div#srchMenuContainer A{text-decoration:none;}
div#googleLogo{border-top-width:0;display:inline;border-left-width:0;background:no-repeat 0 0;float:left;border-bottom-width:0;width:46px!important;text-indent:-10000em!important;height:24px;border-right-width:0;}
#footer{background-color:#E5E5E5;text-align:center;margin:0 auto;width:960px;clear:both;font-size:11px;font-weight:normal;line-height:normal!important;}
div#footer a{white-space:nowrap!important;text-decoration:underline!important;}