body,td,li,p,div,textarea{font-size:8pt;font-weight:normal;}
.text{font-size:8pt;font-weight:normal;}
.redbtext{font-size:10pt;color:#c00;font-weight:normal;}
.orangetext15{font-size:9pt;color:#f60;font-weight:bold;}
.lightbluetext8{font-size:8pt;color:#369;font-weight:bold;}
.whitetext12{font-size:9pt;font-weight:bold;}
.blacktext12{font-size:12pt;font-weight:bold;}
.nametext{font-size:12pt;font-weight:bold;}
.blacktext10{font-size:10pt;font-weight:bold;}
.footer{font-size:8pt;font-weight:bold;}
a{font-size:8pt;text-decoration:underline;}
.btext{font-size:8pt;}
.btext{font-weight:bold;}
a:link{color:#039;text-decoration:none;}
a:visited{color:#039;text-decoration:none;}
a:hover{color:#C00;text-decoration:underline;}

#topping {
	background-image: url(/profile1/heading.png);
	background-repeat: repeat-x;
	height: 54px;
}

#leftside {
	padding-top: 12px;
	padding-left: 7px;
	text-align: left;
}

.centerside {
    display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#rightside {
	padding-top: 4px;
	padding-right: 5px;
	text-align: right;
}

.urlLink{float:left;overflow:hidden;padding-left:8px;padding-top: 10px;}
a.url{background:url(./profile-icons-001.png) 0 2px no-repeat;padding-left:35px;}

#profiler {
	position:absolute;
	top:60px;
	right:5px;  
}